@inherits LayoutComponentBase
@inject InjectServicesWeb injectServicesWeb


<RadzenComponents />
<RadzenLayout style="grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body';">
    <RadzenHeader>
        <RadzenRow JustifyContent="JustifyContent.Start" AlignItems="AlignItems.Center" Gap="0" Style="height: 58px">
            <RadzenColumn Size="10" Style="width: 181px">
                <RadzenSidebarToggle Click="@SidebarToggleClick"></RadzenSidebarToggle>
            </RadzenColumn>
            <div>
            <RadzenColumn Size="1" class="icon-column">
                    <i class="bx bx-cart-add hidden" id="cart-icon" @onclick="ShowCart" data-quantity=""></i>
            </RadzenColumn>
            </div>
        </RadzenRow>
    </RadzenHeader>
    <RadzenBody Expanded="@sidebarExpanded">
        <RadzenRow class="rz-mx-auto rz-px-4 rz-pt-2 rz-pt-md-4 rz-pt-lg-6 rz-pt-xl-12 rz-pb-2 rz-pb-lg-12" Style="max-width: 1440px; color: #fffdfd; background-color: rgba(255, 255, 255, 0)">
            <RadzenColumn Size="12">
            @Body
            </RadzenColumn>
        </RadzenRow>
    </RadzenBody>
    <RadzenSidebar Expanded="@sidebarExpanded" style="z-index: 2; float: none; visibility: visible; color: #ffffff; background-color: #201f1f; width: 208px">
        <RadzenStack AlignItems="Radzen.AlignItems.Center" class="rz-py-4 rz-py-lg-6" Style="">
            <a href="/"> <RadzenImage Path="img/LogoMenu.png" style="width: 200px; height: 100px;" AlternateText="Application logo"></RadzenImage> </a>
            <RadzenText Text="BlazingPizza" TextStyle="Radzen.Blazor.TextStyle.Subtitle1" class="rz-mb-0" style= " var(--rz-text-color-white)" />
        </RadzenStack>
        <RadzenPanelMenu Style="color: #ffffff; background-color: #000000; text-align: left; line-height: 15px; text-decoration: none">
            <RadzenPanelMenuItem Text="Pizzas Especiais" Path="/" IconColor="" />
            <RadzenPanelMenuItem Text="PizzasAntigo" Path="/pizzaSpecial" IconColor="" />
        </RadzenPanelMenu>
        <RadzenStack AlignItems="Radzen.AlignItems.Center" Gap="0" class="rz-py-4 rz-py-lg-6" Style="padding: var(--rz-panel-menu-item-padding);">
            <RadzenText Text="BlazingPizza v1.0.0" TextStyle="Radzen.Blazor.TextStyle.Caption" TagName="Radzen.Blazor.TagName.P" TextAlign="Radzen.TextAlign.Center" Style="font-family: 'Comic Sans MS'" />
            <RadzenText Text="Copyright Ⓒ 2024" TextStyle="Radzen.Blazor.TextStyle.Caption" class="rz-mb-0" TagName="Radzen.Blazor.TagName.P" TextAlign="Radzen.TextAlign.Center" Style="font-family: 'Comic Sans MS'" />
        </RadzenStack>
    </RadzenSidebar>
   
</RadzenLayout>
<!--Modal cart-->
<div class="bg-black/60 z-[99] fixed left-0 top-0 hidden h-full w-full items-center justify-center" id="cart-modal" @onclick="CloseModal">

    <div class="min-w-[90%] rounded-md bg-white p-2 md:min-w-[600px]">
        <h2 class="mb-2 text-center text-2xl font-bold">Meu carrinho</h2>

        <div id="cart-items"class="mb-2 flex flex-col justify-between"></div>

        <p class="font-bold">Total: <span id="cart-total">0.00</span></p>

        <p class="mt-2 font-bold">Endereço de entrega:</p>
        <RadzenTextBox typeof="text" 
            Placeholder="Digite o cep para entrega..."
            class="border-2 w-full p-1" id="address"
            />
            <p class="hidden text-red-500" id="address-warn">Cep inválido.</p>

                <div class="mt-5 flex w-full items-center justify-between">
                    <button id="close-modal-btn" @onclick="CloseModal" class="rounded bg-red-500 px-4 py-1 text-white">Fechar</button>
                    <button id="checkout-btn" class="rounded bg-green-500 px-4 py-1 text-white">Finalizar pedido</button>
                </div>
    </div>
</div>
<!--Fim Modal cart-->

<footer class="z-40 fixed bottom-0 flex w-full items-center justify-center bg-red-500 py-3">
    <button class="flex items-center gap-2 rounded font-bold text-white" id="cart-btn" @onclick="ShowCart">
        Veja meu carrinho
        <i class="bx bx-cart-add text-lg text-white"></i>
        (<span id="cart-count">0</span>)
    </button>
</footer>
<!--Fim da layout-->

@code{
    private List<ProdutoDtos> produtosCompra = new();

    private async Task ShowCart()
    {
        await injectServicesWeb._jSRuntime.InvokeVoidAsync("showCartModal");
    }

    private async Task CloseModal()
    {

        await injectServicesWeb._jSRuntime.InvokeVoidAsync("closeCartModal");
    }
}
