[req]
distinguished_name = req_distinguished_name
req_extensions = req_ext

[req_distinguished_name]
countryName = Country Name (2 letter code)
countryName_default = US
stateOrProvinceName = State or Province Name (full name)
stateOrProvinceName_default = California
localityName = Locality Name (eg, city)
localityName_default = San Francisco
organizationName = Organization Name (eg, company)
organizationName_default = My Company
commonName = Common Name (eg, fully qualified host name)
commonName_default = localhost
commonName_max = 64

[req_ext]
subjectAltName = @alt_names

[alt_names]
IP.1 = 192.168.0.2
