@inject NavigationManager NavigationManager
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="@NavigationManager.BaseUri" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/fluent-dark-base.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/site.css" />
    <link rel="stylesheet" href="css/stylePizza.css" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/fonts.css" />
    <link rel="stylesheet" href="css/output/output.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="icon" href="favicon.ico" />




    <HeadOutlet @rendermode="@InteractiveServer" />
</head>

<body>
    <Routes @rendermode="@InteractiveServer" />
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="/js/CacheStorageAccessor.js"></script>
    <script src="_framework/blazor.web.js"></script>
    <script src="/js/PageIndex.js"></script>
    <script src="/js/pointer-events.min.js"></script>
    <script src="/js/html5shiv.min.js"></script>
    <script src="/js/core.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>
</body>
</html>
